.head_font{
    font-size: 500%;
    
}
.header_top img{ 
    margin-right: 1rem;
}
.header_top{
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
}
.header_bottom{
    max-width: 1000px;
    display:flex;
    justify-content: center;  
}
.head_list{
    display:flex;
    justify-content: space-evenly;
}
.cute_slider{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; 
    background-color: black;       
}
.slider_item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycle-images 31s infinite;

}
#si_1{
    animation-delay: 0s;
}
#si_2{
    animation-delay: 10s;
}
#si_3{
    animation-delay: 20s;
}
.slider_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_text{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.431);
    color:azure;
    padding:3rem 3rem;

}
.slider_text h5{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;
}
.slider_text p{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    
}
@keyframes cycle-images{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }

}

.offers{   
    display:flex;
    justify-content: center; 
    background-color: white;
}
.table{
    width: 100%;;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    border-top: 10px solid #66CCCC;
    border-bottom: 10px solid#66CCCC;
     
    
}
.table_part{    
    width: 300px; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-left: 2px solid#66CCCC; 
    border-right: 2px solid #66CCCC; 
}
.button-table{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #66CCCC;   
    position: relative;
    overflow: hidden;
    transition: color .5s;
    z-index: 10;      
}
.button-table:hover{
    color: white;
}
.button-table::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    width: 0;
    height: 100%;        
    background-image: linear-gradient(to left,#b3e9e9 20%,#66CCCC); 
    transform: skewX(25deg);
    z-index: -1;
    transition: width .5s;
}
.button-table:hover::before{
    width: 120%;
}
.about_us{
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Onas_image.jpg");
    background-size: cover;
    border-bottom: 10px solid#66CCCC;
}   
.about_us_div{
    opacity: 80%;
    width: 60%;
    padding: 2rem;
    background-color: white;
    border: 10px solid#66CCCC;
   
}
.footer_top{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.footer_bottom{
    display:flex;
    justify-content: center;
    
}
.footer_bottom p{
    color: white;
}
.contact_data{
    color: white
}





   
    


