
body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 150%;
    margin: auto;
    background-color: black;

    /*
    background-image: url("back_image.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    */
}

main{
    width: 80%;
    margin: auto;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #afadad;
    border-bottom: 10px #66CCCC solid;
}
footer{
    width: 100%;
    background-color: black;
}
a{
    text-decoration: none;
    color: #339999;
}
ul{
    list-style:none;        
}   
li{
    margin-left: 15px rgb(27, 26, 26);
    margin-right: 15px;
}
h4{
    font-weight: bold;
}
