main{
    width: 80%;
    margin: auto;
}
body{
    background-color: black;
    font-family: 'Hubballi', cursive;
}
h1{
    font-size: 50px;
    color: white;
    text-align: center;

}

h2{
    color: rgba(172, 44, 5, 0.678);
    
}

.pink{
    background-color: rgb(40, 34, 47);
}

.yellow p, ul{
    color: yellow;
}

a{
    text-decoration: none;
}

section{
    padding: 20px;
    border: 7px solid green;
    margin-bottom: 20px 5px 2px 5px;
}

.flexbox{
    display: flex;
    list-style: none;  
    justify-content: space-evenly;     
}
.kox{
    background-image: url("");
}
